.image{
 
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR099qxzgr5FeDaPvEQvZ6ytpt3E7oecjVtwA&s') no-repeat ;
    background-size: cover;
    height: 250%;
    padding-bottom: 300px;
}
